body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: rgb(73, 76, 154);
    background: linear-gradient(
        41deg,
        rgba(73, 76, 154, 1) 0%,
        rgb(72, 117, 201) 100%);
    position: relative;
    height: 100vh;
}
.background-div {
    height: 100%;
    background-image: url(../img/hill.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(1rem);
}
.container {
    display: inline-block;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.left-column {
    float:left;
    width: 40%;
    padding: 40px;
    background-color: #494eac;
    background-image: url(../img/hill.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    position: absolute;
    top: 30px;
    bottom: 30px;
}
    .main-title {
    display: inline-block;
    width: 100%;
    font-size: 32px;
    font-weight: lighter;
}
.bottom-links {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 40px;
    right: 40px;
}
.bottom-links > .link {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}
.bottom-links > .symbol {
    color: #ffffff;
    font-size: 14px;
}
.right-column {
    float:right;
    width: 60%;
    padding: 60px;
    background-color: #ffffff;
}
.close {
    width:60px;
    height:60px;
    font-size:35px;
    line-height: 54px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    color: lightgray;
}
.right-column span {
    display: inline-block;
    padding:15px;
    padding-right: 0px;
    line-height: 20px;
}
.right-column a {
    display: inline-block;
    padding:15px;
    padding-left:0px;
    line-height: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #494eac;
}
.right-column a:hover {
    text-decoration: underline;
}